.title{
@apply font-bold text-[32px] md:text-[56px] text-center;
}
.section{
    @apply flex flex-col items-center space-y-8 py-16 px-4;
}
.text__block{
    @apply flex space-y-4 flex-col
}
.desc{
    @apply font-light text-[18px] text-light-dark text-center;
}
.subtitle{
    @apply font-bold text-[32px] text-center;
}
.button{
    @apply bg-dark py-4 px-5 border-[1px] border-dark-biege text-dark-biege font-medium rounded-[4px] mx-auto
}
.content{
    @apply flex flex-col space-y-8
}
.card__body{
    @apply justify-center items-center flex flex-col rounded-[24px] h-[175px] bg-white w-[265px] space-y-8;
     border-top: 1px solid #BF996F;
     border-right: 6px solid #BF996F;
     border-bottom: 6px solid #BF996F;
     border-left: 1px solid #BF996F;
}
.card__title{
    @apply text-light-dark lg:text-[18px] text-center font-light;
}
.documents{
    @apply grid md:grid-cols-3 md:gap-y-12 gap-y-4 justify-center md:gap-x-32
}