.backgroud__image{
@apply h-full w-full absolute;
    z-index: 0;
    filter: brightness(0.2);

    background-size: cover;
    background-image: url('../../../public/images/sponsor.png');
}
.section{
    width: 100%;
   
    @apply h-[100%] py-16 md:py-0 md:h-[800px] relative flex flex-col items-center justify-center 
}
.title{
    @apply text-dark-biege font-bold text-[32px] md:text-[56px] text-center
}
.description{
    @apply text-white font-light text-[18px] text-center mt-4
}
.content{
    z-index: 30;
    @apply space-y-16 flex flex-col
}
.grid__card{
    @apply grid md:grid-cols-3 gap-4 px-4
}
.card__body{
    @apply justify-center items-center flex flex-col rounded-[24px] h-[300px] w-[100%] md:h-[275px] md:w-[450px] space-y-3;
     border-top: 1px solid #BF996F;
     border-right: 6px solid #BF996F;
     border-bottom: 6px solid #BF996F;
     border-left: 1px solid #BF996F;
}
.card__title{
    @apply text-dark-biege text-[32px] text-center;
}
.card__desc{
    @apply text-white font-light text-[18px] text-center;
}