.card__body{
    @apply justify-center items-center flex flex-col rounded-[24px] h-[175px] md:h-[250px] lg:h-[250px] bg-white;
     border-top: 1px solid #BF996F;
     border-right: 6px solid #BF996F;
     border-bottom: 6px solid #BF996F;
     border-left: 1px solid #BF996F;
}
.card__title{
    @apply text-dark-biege text-[20px] md:text-[28px] lg:text-[32px] text-center font-light;
}
.card__desc{
@apply text-light-dark text-[14px] md:text-[18px] text-center font-light
}
.list{
    @apply grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-8 justify-center
}
.section{
    @apply flex flex-col w-full space-y-2 md:space-y-8 md:p-8 lg:p-32 p-4
}
.title{
    @apply text-[36px] md:text-[48px] lg:text-[56px] font-bold 
}
.text__block{
    @apply flex flex-col md:w-[100%] space-y-4;
}
.block{
    @apply flex lg:justify-between flex-col md:flex-row md:space-y-0 space-y-4
}
.button{
    @apply bg-black p-4 text-dark-biege font-medium rounded-[4px] w-[200px] text-center
}
.card__double{
    @apply grid grid-cols-2 gap-2 md:gap-16 w-[100%] lg:mr-32 justify-center items-end lg:mb-8
}